{{set . "title" "Home"}}
{{template "header.html" .}}

<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Raul Camacho</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="https://docs.google.com/document/d/1xxPCAtVpKC5T4ksfcBj7EaAkRGQxLethMGFx-2CsjBA/pub">Resume</a></li>
											<li><a href="/code">Code</a></li>
											<li><a href="/writings">Writings</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Raul Camacho</h2>
							<p>I like making cool stuff.<br />
							Third year UT Austin CS Student<br />
							Co-Founder of <a href="http://trurecruit.com">TruRecruit</a>.</p>
							<!-- <ul class="actions">
								<li><a href="#" class="button special"></a></li>
							</ul> -->
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>My passion is content creation<br /></h2>
								<p>I love going from idea to </p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-code major style3"><span class="label">Web Dev</span></span></li>
								<li><span class="icon fa-paint-brush major style1"><span class="label">Design</span></span></li>
								<li><span class="icon fa-male major style2"><span class="label">Fashion</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="public/img/pic01.png" alt="" /></div><div class="content">
								<h2>TruRecruit<br />
								</h2>
								<p>I am a Co-Founder and back end developer of an Austin startup called <a href="http://trurecruit.com">TruRecruit</a>. We simplify the process of resume handling at career fairs
								by providing students and companies with a simple tool that allows students to upload resumes befor fairs and allows companies to scan and download
							them during and after the fair.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="public/img/pic02.png" alt="" /></div><div class="content">
								<h2>Freetail Hackers<br />
								</h2>
								<p>I am the Creative Director of a student organization called Freetail Hackers. We organize HackTX, the largest Hackathon held at UT. As Creative
								Director, I create and influence many of the assets we use to establish the theme and feel of each event. Check out some of my designs here
								<a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="public/img/pic03.jpg" alt="" /></div><div class="content">
								<h2>UTeach Outreach<br />
								</h2>
								<p>I am currently an Engineering/Arduino intern at a summer camp for middle/high school kids that is led by UTeach Outreach at UT Austin. I teach 6th
								graders the basics of arduino, and I assist a teacher in teaching Engineering basics to the same age group.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<!-- <section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section> -->

				<!-- CTA -->
					<!-- <section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section> -->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/CPUgiraffe" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/raul.camacho.35" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<!-- <li><a href="https://www.instagram.com/giraffecam/" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
							<li><a href="https://dribbble.com/CPUgiraffe" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="mailto:rcamacho96@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							<li>&copy; Untitled</li><li>Cover Photo: <a href="https://www.flickr.com/photos/133880568@N03/24538344271/in/dateposted-public/">Bang and Mikkelsen Pictures</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="public/js/jquery.min.js"></script>
			<script src="public/js/jquery.scrollex.min.js"></script>
			<script src="public/js/jquery.scrolly.min.js"></script>
			<script src="public/js/skel.min.js"></script>
			<script src="public/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="public/js/main.js"></script>

	</body>
</html>
